# Dependencies
node_modules/

# Environment variables
.env
.env.example
# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Coverage
coverage/

# VS Code settings
.vscode/

# Temporary files
tmp/
temp/

# Firebase Admin SDK Credentials
*firebase-adminsdk*.json
*firebase-service-account*.json
certs/*.json
*.json.secret
